@import "src/styles/variables";
@import "src/styles/mixins";


.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100%;

  &__item {
    @include flex(column, true);
  }
}
