@import "src/styles/variables";
@import "src/styles/mixins";


.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  height: max-content;

  &__item {
    @include flex(column, true);
  }
}
