@import "src/styles/mixins";
@import "src/styles/variables";

.dashboard {
  @include flex(row, true);
  background-color: $primaryColor;

  &__content {
    @include flex(row, false);
    align-items: baseline;
    justify-content: space-between;

    &__aside {
      @include flex(column, true);
      align-items: flex-start;
      width: 20%;
    }

    &__items {
      margin-left: 100px;
      width: 80%;
    }
  }
}