@import "src/styles/mixins";
@import "src/styles/variables";

.tabs {
  @include flex(column, true);
  align-items: flex-start;

  &__tab {
    @include flex(row, true);
    justify-content: flex-start;
    text-decoration: none;
    padding: 5px;
    transition: 500ms;
    border-radius: 5px;
    background-color: #4b6086;
    margin-top: 10px;
    width: 100%;

    &__icon {
      width: 24px;
      margin-right: 5px;
    }

    &__title {
      color: $textColor;
    }
  }
  &__tab:hover {
    background-color: $thirdColor;
  }
}