@import "src/styles/mixins";
@import "src/styles/variables";

.tabs {
  @include flex(column, true);
  align-items: flex-start;

  &__tab {
    @include flex(row, true);
    text-decoration: none;
    padding: 5px;

    &__icon {
      width: 24px;
      margin-right: 5px;
    }

    &__title {
      color: $textColor;
    }
  }
}