@import "src/styles/mixins";
@import "src/styles/variables";

.file_upload {
  @include flex(column, true);
  width: 100%;

  &__button {
    @include flex(row, true);
    outline: 0;
    border: 0;
    padding: 5px;
    background-color: $tertiaryColor;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: 100%;

    &__icon {
      width: 32px;
    }

    &__title {
      text-transform: uppercase;
      width: 100%;
      margin-right: 5px;
    }
  }

  &__selected_file {
    background-color: $tertiaryColor;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    padding: 5px;
  }
}