@import "src/styles/mixins";
@import "src/styles/variables";

.header {
  @include flex(row, true);
  width: 100%;

  &__wrapper {
    @include flex(row, false);
    justify-content: space-between;
    align-items: center;
    width: 90%;

    &__logo {
      @include flex(row, true);
      padding: 15px 0 15px 0;

      &__title {
        font-size: 24px;
        font-weight: bold;
        color: $textColor;
      }
    }

    &__account {
      @include flex(row, true);
      padding: 15px 0 15px 0;

      &__title {
        font-style: 24px;
        font-weight: bold;
        color: $textColor;
      }
    }
  }
}