@import "src/styles/mixins";
@import "src/styles/variables";

.header {
  @include flex(column, false);
  padding: 10px;
  align-items: baseline;

  &__logo {
    @include flex(row, true);

    &__title {
      font-size: 24px;
      font-weight: bold;
      color: $textColor;
    }
  }
}