@import "src/styles/variables";


.file_preview_wrapper {
  &__badge {
    padding: 5px;
    background-color: $tertiaryColor;
    border-radius: 5px;
  }

  .preview_container {
    &__image {
      width: 96px;
      height: 96px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}