@import "src/styles/variables";


.file_preview_wrapper {
  &__badge {
    padding: 3px;
    background-color: rgba(83, 87, 101, 0.8);
    position: absolute;
    margin-top: -25px;
  }

  .preview_container {
    &__image {
      width: 96px;
      height: 96px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}